@tailwind base;
@tailwind components;
@tailwind utilities;

input.autofill-dark:-webkit-autofill,
input.autofill-dark:-webkit-autofill:hover,
input.autofill-dark:-webkit-autofill:focus,
input.autofill-dark:-webkit-autofill:active {
  -webkit-text-fill-color: rgb(244, 244, 245);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none;
}

input.autofill-light:-webkit-autofill,
input.autofill-light:-webkit-autofill:hover,
input.autofill-light:-webkit-autofill:focus,
input.autofill-light:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-zinc-900 antialiased;
}
